In [1]:
# Import libraries
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

## Loading and Preprocessing Loan_df

In [2]:
# Connect to database
database_url = 'postgresql://postgres:postgres@localhost:5432/loan_approval'
engine = create_engine(database_url)

In [3]:
# Query the loan table
query = 'SELECT * FROM loan'
loan_df = pd.read_sql(query, engine)
loan_df.head()

,age,income,home_ownership,employment_duration,loan_purpose,loan_grade,loan_amount,int_rate,loan_status,loan_income_pct,past_default_status,credit_history_length
0,21.0,9600.0,OWN,5.0,EDUCATION,B,1000.0,11.14,0.0,0.10,N,2.0
1,25.0,9600.0,MORTGAGE,1.0,MEDICAL,C,5500.0,12.87,1.0,0.57,N,3.0
2,23.0,65500.0,RENT,4.0,MEDICAL,C,35000.0,15.23,1.0,0.53,N,2.0
3,24.0,54400.0,RENT,8.0,MEDICAL,C,35000.0,14.27,1.0,0.55,Y,4.0
4,21.0,9900.0,OWN,2.0,VENTURE,A,2500.0,7.14,1.0,0.25,N,2.0

In [4]:
#Cheking data frame info
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28632 entries, 0 to 28631
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    28632 non-null  float64
 1   income                 28632 non-null  float64
 2   home_ownership         28632 non-null  object
 3   employment_duration    28632 non-null  float64
 4   loan_purpose           28632 non-null  object
 5   loan_grade             28632 non-null  object
 6   loan_amount            28632 non-null  float64
 7   int_rate               28632 non-null  float64
 8   loan_status            28632 non-null  float64
 9   loan_income_pct        28632 non-null  float64
 10  past_default_status    28632 non-null  object
 11  credit_history_length  28632 non-null  float64
dtypes: float64(8), object(4)
memory usage: 2.6+ MB

In [5]:
# Define features set
X = loan_df.copy()
X.drop("loan_status", axis=1, inplace=True)
X.head()

,age,income,home_ownership,employment_duration,loan_purpose,loan_grade,loan_amount,int_rate,loan_income_pct,past_default_status,credit_history_length
0,21.0,9600.0,OWN,5.0,EDUCATION,B,1000.0,11.14,0.10,N,2.0
1,25.0,9600.0,MORTGAGE,1.0,MEDICAL,C,5500.0,12.87,0.57,N,3.0
2,23.0,65500.0,RENT,4.0,MEDICAL,C,35000.0,15.23,0.53,N,2.0
3,24.0,54400.0,RENT,8.0,MEDICAL,C,35000.0,14.27,0.55,Y,4.0
4,21.0,9900.0,OWN,2.0,VENTURE,A,2500.0,7.14,0.25,N,2.0

In [6]:
# Define target vector
y = loan_df["loan_status"].ravel()
y[:5]

C:\Users\saba7\AppData\Local\Temp\ipykernel_30860\643574978.py:2: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  y = loan_df["loan_status"].ravel()

array([0., 1., 1., 1., 1.])

In [7]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2 , random_state=42)

In [8]:
# Defining categorical columns that need encoding
categorical_cols = ["home_ownership", "loan_purpose", "loan_grade", "past_default_status"]

1. One-Hot Encoding: Converts categorical data into binary columns.
2. StandardScaler: Standardizes the numeric data.
3. Preprocessing Pipeline: Automates the encoding and scaling.

In [9]:
# Creating a ColumnTransformer with OneHotEncoder for categorical columns
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(drop="first"), categorical_cols)
    ],
    remainder="passthrough"
)

In [10]:
# Applying preprocessing to the training data
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [11]:
# Creating StandardScaler instance
scaler = StandardScaler()

 Double-Check:
Ensure all categorical columns are encoded before scaling.
Avoid NaN or missing values, as StandardScaler cannot handle them directly.

In [12]:
# Scaling the data using StandardScaler
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


print(X_train_scaled[:5])  # Check the processed data

[[-0.0569316  -0.28894811  0.98281518 -0.49904479 -0.35402208 -0.47661634
   2.22124691 -0.46116669  1.45709477 -0.498294   -0.35737102 -0.17715837
  -0.08466024 -0.0458259  -0.46318406 -0.76497799 -0.60651042  0.54571262
  -0.67060896 -0.13863611 -0.1827986  -0.94228666]
 [-0.0569316  -0.28894811  0.98281518 -0.49904479 -0.35402208 -0.47661634
   2.22124691 -0.46116669  1.45709477 -0.498294   -0.35737102 -0.17715837
  -0.08466024 -0.0458259  -0.46318406  0.20305167 -0.27806769  1.53360437
  -0.81230271 -0.34928475 -0.74813856  1.03951658]
 [-0.0569316  -0.28894811  0.98281518 -0.49904479 -0.35402208  2.0981236
  -0.45019759 -0.46116669  1.45709477 -0.498294   -0.35737102 -0.17715837
  -0.08466024 -0.0458259  -0.46318406 -0.44230143 -0.4712693  -0.68915208
  -1.20589643 -0.55373784 -1.12503187 -0.69456125]
 [-0.0569316  -0.28894811  0.98281518 -0.49904479 -0.35402208  2.0981236
  -0.45019759 -0.46116669  1.45709477 -0.498294   -0.35737102 -0.17715837
  -0.08466024 -0.0458259  -0.46318406 -0.28096316 -0.29738785  1.28663143
  -0.73358396  0.42825655 -0.65391524 -0.44683585]
 [-0.0569316  -0.28894811 -1.01748531 -0.49904479  2.82468261 -0.47661634
  -0.45019759 -0.46116669  1.45709477 -0.498294   -0.35737102 -0.17715837
  -0.08466024 -0.0458259  -0.46318406 -0.44230143 -0.31670801  1.03965849
  -0.26127149 -0.32140478 -0.08857528 -0.94228666]]

## Fitting the Random Forest Model

In [13]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [14]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

## Making Predictions Using the Random Forest Model

In [15]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

## Model Evaluation

In [16]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [17]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         4455           54
Actual 1          333          885

Accuracy Score : 0.9324253535882661
Classification Report
              precision    recall  f1-score   support

         0.0       0.93      0.99      0.96      4509
         1.0       0.94      0.73      0.82      1218

    accuracy                           0.93      5727
   macro avg       0.94      0.86      0.89      5727
weighted avg       0.93      0.93      0.93      5727

In [18]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf_model.feature_importances_
# Sorting the features by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.07376335975308983, 'home_ownership'),
 (0.05981783944318156, 'credit_history_length'),
 (0.01747650034930358, 'past_default_status'),
 (0.016668321940275118, 'income'),
 (0.016580320004447906, 'employment_duration'),
 (0.016074958302837526, 'loan_grade'),
 (0.015836651361605558, 'loan_purpose'),
 (0.013483426047590306, 'loan_amount'),
 (0.012938349290242191, 'int_rate'),
 (0.004727520358781502, 'loan_income_pct'),
 (0.0008366560609255478, 'age')]

In [19]:
# Visualize the features by importance
importances_df = pd.DataFrame(sorted(zip(rf_model.feature_importances_, X.columns), reverse=True))
importances_df.set_index(importances_df[1], inplace=True)
importances_df.drop(columns=1, inplace=True)
importances_df.rename(columns={0: 'Feature Importances'}, inplace=True)
importances_sorted = importances_df.sort_values(by='Feature Importances')
importances_sorted.plot(kind='barh', color='lightgreen', title= 'Features Importances', legend=False)